.bgcolor {
    background-color: #a8bbe0;
}
h1 {
    text-align: center;
}
.missionsPage {
    display: inline-block;
}
.filterYear {
    margin: 2rem;
    padding: 1rem;
}
.mission {
    max-width: 500px;
    width: 85%;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.img-thumbnail {
    background-color: #a2c0fa;
    height: 400px;
}
.card-text {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.year {
    display: inline-block;
}